<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In - Chat Example</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="col-sm-6 offset-sm-3">
        <div class="panel panel-default" style="padding-top: 40px">
            <h2>Welcome Back</h2>
            <p class="text-muted">Sign in with your email address and password</p>

        {{if .Error}}
            <b class="text-danger text-center">{{.Message}}</b><br>
        {{else}}
            <b class="text-success text-center">{{.Message}}</b><br>
        {{end}}

            <form method="post" action="/authenticate">
                <input type="text" name="email" placeholder="Email"
                       class="form-control"><br>
                <input type="password" name="password" placeholder="Password"
                       class="form-control"><br>

                <p class="text-center">I do not have an account? <a href="/user/join">Create a new account</a></p>
                <p class="text-center"><button name="create_account" class="btn btn-dark">
                    <b>Sign In</b>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>